<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
    <title>BankName</title>
    
</head>

<body>
    <form class="box" action="">
        <h1><img height="200" width="200" src="{{ url_for('static', filename='logos/logo-only-transparent.png') }}"/></h1>
        <h1>Select Action</h1>
        <button type="button" onclick="window.location.href='{{ url_for( 'register') }}';">Sign Up</button>
        <button type="button" onclick="window.location.href='{{ url_for( 'login') }}';">Sign In</button>
        <button type="button" onclick="window.location.href='{{ url_for( 'addfunds') }}';">Add Funds</button>
        <button type="button" onclick="window.location.href='{{ url_for( 'transferfunds') }}';">Transfer Funds</button>
        <button type="button" onclick="window.location.href='{{ url_for( 'reset') }}';">Reset Password</button>
    </form>
</body> 
</html>
    